/* BEGIN RESET AREA */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET AREA */

/* BODY STYLING */

body{
	background: #4ABDAC;
	font-family: 'Ubuntu', sans-serif;
}

/* TEXT STYLING */
h1{
	color: #FC4A1A;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
}

h2{
	width: 100%;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}

h3{
	font-weight: 700;
	font-size: 36px;
	line-height: 50px;
}

h4{
	color: #dfdce3;
	font-size: 24px;
	line-height: 32px;
}

/* IMAGE STYLING FOR CHOICES */
.image_choice{
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
	border: 5px solid #F7b733;
	border-radius: 25%;
}

.container{
  width: 100%;
	padding: 25px;
	
}

.image-container, .standings_box{
  margin: 0 auto;
  max-width: 1000px;
}

#result_block{
	width: 400px;
	margin: 0 auto;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.standings_box{
	width: 600px;
	margin: 0 auto;
	background:#FC4A1A;
	padding-bottom: 15px;
}

.win-bg
{
	background: #1dc13b;
}

.tie-bg
{
	background: #F7b733;
}

.loss-bg
{
	background: #f7000c;
}

.standings_box h2{
	background: #dfdce3;
	color: #FC4A1A;
	margin-bottom: 20px;
	padding: 4px 0px 4px 0px;
}

.third_box{
  width: 30%;
  display: inline-block;
	text-align: center;
}